<!--header-->
{include file="public/_meta" title="用户列表"/}
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 用户管理 <span class="c-gray en">&gt;</span> 主题列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
  <div class="text-c">
    <form action="{:url('user/index')}" method="get">
      <input type="text" name="nickname" id="" value="" placeholder=" 用户昵称" style="width:250px" class="input-text">
      <button name="" id="" class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i> 搜用户</button>
    </form>
  </div>

  <div class="mt-20">
    <table class="table table-border table-bordered table-bg table-hover table-sort table-responsive" >
      <thead>
      <tr class="text-c">
        <th width="25"><input type="checkbox" name="" value=""></th>
        <th width="80">ID</th>
        <th>昵称</th>
        <th>简介</th>
        <th width="80">用户头像</th>
        <th width="40">推荐关注</th>
        <th width="60">状态</th>
        <th width="120">操作</th>
      </tr>
      </thead>
      <tbody>
      {volist name = "user" id = "vo"}
      <tr class="text-c">
        <td><input type="checkbox" value="" name=""></td>
        <td>{$vo.id}</td>
        <td class="text-l">{$vo.nickname}</td>
        <td class="text-l">{$vo.signature}</td>
        {if $vo.avatar==NULL} 
        <td><img witdht="60" height="60" class="picture-thumb"
            src="/static/admin/img/default_avater.png"></td>
        {else /} 
            <td><img width="60" height="60" class="picture-thumb" src="https://static-img-bbq.wutnews.net/image/{$vo.avatar}-60-100.webp"></td>
        {/if}
        <!-- 此处调用app/common.php中的方法 -->
        <td>{$vo.is_position|isPosition}</td>
        <td class="td-status">{$vo.status|user_status=$vo.id, ###}</td>
        <td class="f-14 td-manage"><a style="text-decoration:none" class="ml-5" onClick="app_del(this)" href="javascript:;" title="删除" del_url="{:url('theme/delete', ['id'=>$vo.id])}"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
      </tr>
      {/volist}
      </tbody>
    </table>
    <div id="laypage"></div>
  </div>
  {:pagination($user)}
</div>
<!--header-->
{include file="public/_footer" /}

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__STATIC__/hadmin/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__STATIC__/hadmin/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript" src="__STATIC__/admin/js/common.js"></script>
<script type="text/javascript">


</script>
<style>
  .bbq-app .pagination li{display:inline; padding-left:10px;}
  .pagination .active{color:red}
  .pagination .disabled{color:#888888}
</style>
</body>
</html>
